body {
    width: 100%;
    height: auto;
    background-color: darkgrey;
}

/* Style du conteneur des cartes */
.cardContainer {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(4, 1fr); /* Crée 4 colonnes égales */
    grid-gap: 1px; /* Réduit encore plus l'espacement entre les cartes 1*/
}

/* Style des cartes */
.card {
    width: 100px;
    height: 100px;
    background-color: #ccc; /* Couleur de fond par défaut */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Taille de la police */
    cursor: pointer; /* Curseur de la souris */
    overflow: hidden; /* Masquer le contenu débordant */
}

/* Style de l'image dans la carte */
.card img {
    width: 100%; /* Fait en sorte que l'image remplisse toute la carte */
    height: auto; /* Garde la proportion de l'image */
}


/* Classe pour masquer le contenu des cartes (la face de la carte) */
.hidden {
    display: none;
}


.card-on {
    display: none;
}
